{% extends 'base.html.twig' %}

{% block title %}Dashboard Freelancer{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Tableau de bord Freelancer</h1>
    <p>Bienvenue, {{ user.firstName ?? user.email }}</p>
    
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-briefcase"></i> Offres de Mission</h5>
                    <p class="card-text">Consultez les offres disponibles</p>
                    <a href="{{ path('app_freelance_offres') }}" class="btn btn-primary">Voir les offres</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-file-earmark-text"></i> Mes Candidatures</h5>
                    <p class="card-text">Suivez vos candidatures</p>
                    <a href="{{ path('app_freelance_candidatures') }}" class="btn btn-primary">Voir mes candidatures</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-clock-history"></i> Mes Missions</h5>
                    <p class="card-text">Consulter mes missions</p>
                    <a href="{{ path('app_freelance_missions') }}" class="btn btn-primary ">Voir mes missions</a>
                </div>
            </div>
        </div>
                <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-clock-history"></i> Mes Missions Terminées</h5>
                    <p class="card-text">Consulter mes missions</p>
                    <a href="{{ path('app_freelance_closed') }}" class="btn btn-primary ">Voir mes missions Terminées</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
